<!-- Toolbar -->
<!--
<div class="toolbar" role="banner">
  <span style="padding-left: 10px">NgPerf - Improve your Angular application performances</span>
    <div class="spacer"></div>
    <app-twitter-logo></app-twitter-logo>
</div>
-->
<div>
  <div class="toolbar" role="banner">
    <span style="padding-left: 10px"><a href="https://marco.dev" class="dev-link">marco.dev</a> - NgPerf - Improve your Angular application performances</span>
    <div class="spacer"></div>
    <app-twitter-logo></app-twitter-logo>
  </div>
  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button"><a routerLink="/">Common issues</a></button>
    <button class="w3-bar-item w3-button"><a routerLink="change-detection">Change Detection</a></button>
    <button class="w3-bar-item w3-button"><a routerLink="observables">Observables</a></button>
    <button class="w3-bar-item w3-button"><a routerLink="update">Ivy</a></button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
