<div [innerHTML]="fragment1"></div>

<app-card
  title="ChangeDetection"
  description="How Change detection works? Why do we need OnPush?"
  linkName="change-detection"
  ></app-card>
<app-card
  title="Observables"
  description="Stop looking at me! Did you close the subscription?"
  linkName="observables"></app-card>
<app-card
  title="Ivy"
  description="Update your Angular version. Use Ivy (Angular >= 9)."
  linkName="update"></app-card>
<div>
  <app-card title="Observables"
            badge="Coming soon!"
            description="You don't need to be all the time in the ngZone!"></app-card>
</div>
<div>
<app-card title="for(let i = 0; i < ..." badge="Coming soon!" description="Still using for? Maybe you are not wrong."></app-card>
</div>
<div>
  <app-card title="Did you deploy Prod?"
            description="Sometimes the Dev build finish in the Prod environment ..."
  linkName="prod-mode"></app-card>
</div>

<div>
  <app-card title="Tools"
            badge="Coming soon!"
            description="Tools useful to monitor the performances."></app-card>
</div>

<div>
  <app-card title="Angular Universal"
            badge="Coming soon!"
            description="Your website is public and mostly static and SEO oriented? SSR could help you!"></app-card>
</div>

